.mdui-card,
.mdui-dialog {
  border-radius: 8px;
}
.mdui-card {
  margin: 16px;
}
.mdui-row.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mdui-textfield-floating-label .mdui-textfield-label {
  transform: translateY(32px);
}

.show-show-way button {
  position: absolute;
  bottom: 24px;
  right: 6%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading > div {
  z-index: 114;
  position: absolute;
  top: calc((100vh - 100px) / 2);
}
.loading > .spinner {
  transform: scale(2.5);
  padding-bottom: 20px;
}
